
body{
    padding-top: 80px;
    padding-left: 250px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(245, 245, 245);
}
.head-container{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed; 
    background-color: white;
    top: 0;
    left:0;
    right: 0;
    border-bottom-width:1px; 
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 238, 238);
    z-index: 1;
}
.left-section{
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 24px;
    color: black;
}
.hamburger-menu-icon{
    border: none;
    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 24px;
    margin-right: 24px; 
}
.youtube-icon{
    height: 20px;
}
.middle-section{
    display: flex;
    flex: 1;
    margin-left: 70px;
    align-items: center;
    max-width: 625px;
    margin-right: 35px;
}
.searchbar{
    height: 36px; 
    width: 0;
    flex: 1;
    padding: 0px 4px 0px 16px;
    border: 1px solid rgb(192, 192,192);
    border-radius: 2px;
    border-top-left-radius: 25px 25px;
    border-bottom-left-radius: 25px 25px;
    z-index: 1;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.searchbar::placeholder{
    font-size: 16px;
    font-family:"Roboto", Arial;
}

.search-button{
    height: 38px;
    width: 64px;
    /* margin-left: 1px; */
    margin-right: 10px;
    border: 1px solid rgb(192px, 192px, 192px);
    background-color: rgb(240px, 240px, 240px);
    border-style: inherit;
    border-top-right-radius:25px  25px;
    border-bottom-right-radius:25px 25px ;
    border: 1px solid rgb(192,192,192);
}

.search-icon{
    height: 25px;
    margin-top: 4px;
} 
.voice-search-button{
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
}
.voice-search-image{
    height: 28px;
    margin-top: 4px;
}
.voice-search-icon:hover{
    background-color: rgb(238, 238, 238);
}
.right-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    width: 180px;
    flex-shrink: 0;
}
.upload-button-image{
    height: 25px;
}
.upload-button{
    border: none;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.notifications-image{
    height: 25px;
}
.notification{
    border: none;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.profile-picture{
    height: 32px;
    /* width: 32px; */
    border-radius: 16px;
}
.profile{
    border: none;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
} 
.middle-container{
    display: grid;                        
    grid-template-columns: 1fr 1fr 1fr;              
    column-gap: 16px;                             
    row-gap: 40px;                           
    }
.thumbnail{
    /* object-fit: cover; */
    font-weight: bold;
    font-size:14px;
    font-family: "Roboto",Arial;
    line-height: 80%;
}
#contentInOneLine{
    display: flex;
}
.video-text-main{
    color: black;
    font-family: "Roboto",Arial;
}
.video-text{
    color: rgb(96, 96, 96);
    line-height:0.5;
}
.textofthumb{
    margin-left: 10px;
}
.video-profile{
    height: 40px;
    width: 40px;
    margin-top: 5px;
    border-radius:50% ;
}
.thumbnail01{
   height: 200px;
   border-radius: 15px;
}
.thumbnail02{
    height: 200px;
    border-radius: 15px;
}
.thumbnail03{
   height: 200px;
   border-radius: 15px;
}
.video-with-time{
    position: relative;
}
.video-time{
  font-family: "Roboto", Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  position: absolute;
  bottom: 15px;
  right: 70px;
}

.sidebar{
    left:0px;
    bottom: 0px;
    top:55px;   
    width: 240px;
    position: fixed;
    font-size: 15px;
    z-index: 100;
    background-color: white;
}
#sidebar-active{
    display: none;
}
.open-and-close-sidebar-button{
    display: none;
}
@media(max-width:400px){
    .open-and-close-sidebar-button{
        display: block;
    }
    #sidebar-active:checked ~ .sidebar{
        display: flex;
    }
}
.sidebar:hover{
    overflow-y: scroll;
}
.homebutton{
    display: flex;
    height: 38px;
    width: 200px;
    align-items: center;
    /* margin-left: 8px; */
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(231, 230, 230);
}
.youtube-home-button-icon{
    margin-left: 20px;
    height: 20px;
}
.home-button-text{
    margin-left: 25px;
    font-family: "Roboto",Arial;
    font-weight: 500;
}
.shorts,.subscription,.your-channel-image-text ,.history,.playlist,.your-videos,.watch-later,.liked-videos,.youtubers-channel01,.youtubers-channel02,.trending,.shopping,.music,.films,.live,.gaming,.news,.sport,.courses,.fashion-and-beauty,.podcast,.setting,.report-history,.help,.send-feedback{
    display: flex;
    /* margin-left: 8px; */
    border-radius: 8px;
    height: 40px;
    width: 200px;
    align-items: center;
}
.youtube-shorts-icon{
   margin-left:18px;
   height: 20px;
}
.text-of-sidebar{
    font-family: "Roboto",arial;
    margin-left: 24px;
    font-size:14px;
}
.shorts:hover,.subscription:hover,.your-channel-image-text:hover ,.history:hover,.playlist:hover,.your-videos:hover,.watch-later:hover,.liked-videos:hover,.youtubers-channel01:hover,.youtubers-channel02:hover,.trending:hover,.shopping:hover,.music:hover,.films:hover,.live:hover,.gaming:hover,.news:hover,.sport:hover,.courses:hover,.fashion-and-beauty:hover,.podcast:hover,.setting:hover,.report-history:hover,.help:hover,.send-feedback:hover{
    border-radius:10px ;
    background-color: rgb(231, 230, 230);
    cursor: pointer;
}
.youtube-subscription-icon{
    height: 20px;
    margin-left: 18px;
}
.cointains-starting-side-buttons{
    border-bottom: 1px solid rgb(231,230,230);
    padding-bottom: 18px;
}
.text-you{
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 20px;
    font-family: "roboto",arial;
    font-weight:500 ;
    border-radius: 8px;
    height: 30px;
    width: 200px;
}
.text-you:hover{
    cursor: pointer;
    background-color: rgb(231,230,230);
}
.your-channel-image-text:hover{
    background-color: rgb(231,230,230);
    cursor: pointer;
}
.your-channel-icon{
    height: 20px;
    margin-left: 20px;
}
.history-icon{
 height: 26px;
 margin-left: 18px;
}
.playlist-icon{
    height: 24px;
    margin-left: 18px;
}
.your-video-icon{
    height: 24px;
    margin-left: 18px; 
}
.watch-later-icon{
    height: 24px;
    margin-left: 18px;
}
.liked-videos-icon{
    height: 24px;
    margin-left: 18px;
}
.you{
    border-bottom: 1px solid rgb(231, 230, 230);
    padding-bottom: 15px;
}
.text-subscriptions{
    height: 40px;
    margin-left: 24px;
    font-weight: 500;
    font-family: "roboto",arial;
}
.youtubers-channel-dp01{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-left: 15px;
}
.youtubers-channel-dp02{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 12px;
}
.subscription-include-youtuber{
    border-bottom: 1px solid rgb(231, 230, 230);
    padding-bottom: 15px;
}
.explore-column{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(231,230,230);
}
.text-explore{
    height: 40px;
    margin-left: 24px;
    font-weight: 500;
    font-family: "roboto",arial;
}
.trending-icon{
    height: 20px;
    margin-left: 18px;
}
.shopping-icon{
    height: 20px;
    width: 25px;
    margin-left: 14px;
}
.music-icon{
    height: 20px;
    margin-left: 18px;
}
.film-icon{
    height: 25px;
    margin-left: 14px;
}
.live-icon{
 height: 18px;
 margin-left: 15px;
}
.game-icon{
    height: 30px;
    margin-left:9px ;
}
.news-icon{
    height:25px ;
    margin-left: 10px;
}
.sport-icon{
 height: 25px;
 margin-left: 10px;
}
.course-icon{
    height: 20px;
    margin-left: 12px;
}
.fashion-and-beauty-icon{
    height: 25px;
    margin-left: 10px;
}
.podcast-icon{
    height: 22px;
    margin-left: 10px;
}
.contains-four-item{
    margin-top:10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(231, 230, 230);
}
.setting-icon{
height: 20px;
margin-left: 15px;
}
.report-history-icon{
height: 30px;
margin-left: 7px;
}
.help-icon{
height: 28px;
margin-left: 10px;
}
.send-feedback-icon{
    height: 30px;
    margin-left: 10px;
}
